body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:rgb(85, 76, 76);
    gap:2em;
    margin:0em;
}
.header{
    background-color:black;
    width:100%;
    color:white;
    text-align:center;
    font-size:2em;
    font-family: 'FreeMono', monospace
}
.rps-buttons{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:6em;
    width:80%;
    margin:3em 0em;
}
.rps-buttons .button{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0em;
    margin:0em;
    width:20%;
    min-width:50px;
    transition:all .2s;
    border:none 0em;
    background-color:aqua;
}
.rps-buttons .button:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 20px 20px black;
}
.rps-buttons .button:active {
    box-shadow: 0px 0px 10px 10px black;
    transform:scale(1);
    background-color:white;
  }
img{
    width:100%;
}
p{
    font-weight:bold;
    font-size:1.2em;
}
.results{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
}
.choices{
    text-align:center;
    font-size:2em;
}
.decisionOutcome{
    color:rgb(255, 0, 64);
    text-align:center;
    font-weight:1;
    font-size:4em;
    margin:0em;
}
.score{
    margin-bottom:2em;
    font-size:2em;
    padding:1em;
    color:rgb(46, 255, 175)
}
.restartButton{
    font-size:2em;
    font-weight:bold;
    border-radius:1em;
    padding:.25em;
    margin-bottom:1em;
    transition:all .3s;
}
.restartButton:hover{
    transform:scale(1.1)
}
.restartButton:active{
    transform:scale(1)
}
.roundWinCounter{
    text-align:center;
    font-size:3em;
    background-color:black;
    color:white;
    width:100%;
    margin-bottom:1em;
}